@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@* This is Static PartialView *@
<div class="container-fluid bg-body-secondary text-warning">
    <div class="row">
        <div class="col-lg-4  col-sm-12 col-md-6">
            <h1>Address</h1>
            <h3>Gandhi Nagar</h3>
            <h3>Mother Terresa School Nagar</h3>
            <h3>Kurar,Village,Malad (E), Mumbai-400097</h3>
        </div>
    </div>
</div>