@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StaticPartialView.Models.Address
@* This is Dynamic PartialView *@
<div class="container-fluid bg-body-secondary text-warning">
    <div class="row">
        <div class="col-lg-4  col-sm-12 col-md-6">
            <h1>Address1</h1>
            <h3>@Model.cname</h3>
            <h3>@Model.Addres1</h3>
            <h3>@Model.Addres2</h3>
        </div>
    </div>
</div>